name: pmawas
description: PM Awas App
version: 1.0.0+1
environment:
  sdk: '>=2.18.0 <4.0.0'
dependencies:
  flutter:
    sdk: flutter
  cupertino_icons: ^1.0.2
  webview_flutter: ^4.7.0
  share_plus: ^7.0.0
  url_launcher: ^6.3.0
  google_fonts: ^6.2.1
flutter:
  uses-material-design: true
  assets:
    - assets/
